{% load static %}
<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="/">
                <img src="{% static 'images/coretech_logo_nobg.png' %}" alt="Core Technology Solutions">
                <!-- <span>CoreTechICT</span> -->
            </a>
        </div>

        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/services/">Services</a></li>
            <li><a href="/contact/">Contact</a></li>
        </ul>

        <div class="nav-cta">
            <a href="/contact/" class="btn-quote">Get a Quote</a>
        </div>
    </div>
</nav>